/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- .grid-item ---- */
  
  .gutter-sizer { width: 1.333%; }
  
  .grid-sizer,
  .grid-item {
    width: 32%;
  }
  
  .grid-item {
    float: left;
    margin-bottom: 1.333%;
  }
  
  .grid-item img {
    display: block;
    max-width: 100%;
    width: 100%;
  }
  
  div#masongrid {
      padding-top: 1.33%;
      padding-left: 1.333%;
  }
  
  figcaption{
    display: none;
  }